server {
server_name b24.sex.pwned.ru;
listen 443 ssl;
listen [::]:443 ssl;
http2 on;

ssl_certificate /etc/letsencrypt/live/b24.sex.pwned.ru/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/b24.sex.pwned.ru/privkey.pem;

# uart-emu
location = /uart {
    return 301 /uart/;
}

location = /uart/docs/ {
    return 301 /uart/docs;
}

location /uart/ {
proxy_pass http://127.0.0.1:8000/;
proxy_http_version 1.1;

proxy_set_header Host $host;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $scheme;

proxy_connect_timeout 10s;
proxy_send_timeout 10s;
proxy_read_timeout 10s;
proxy_buffering off;
}

location ^~ /mojo {root /usr/local/share/perl/current/Mojolicious/resources/public; autoindex off;}
}
